<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012. Transparent Language.  All rights reserved.
  -->

<configuration>
    <property resource="logback.properties"/>
    <property name="MESSAGE_FORMAT"
              value="%8.8mdc{sequence-number} %18.18mdc{time} %4.4mdc{application-type} %8.8mdc{application-instance} %.-1level %8.8mdc{work-unit} %35.35logger{0} %4.4mdc{message-code} %message %throwable{short}%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${MESSAGE_FORMAT}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
        </filter>
    </appender>

    <appender name="OPERATIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.directory}/ampq-services-log-for-operations-%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FORMAT}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="SUPPORT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.directory}/ampq-services-log-for-support-%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FORMAT}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="QA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.directory}/ampq-services-log-for-qa-%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FORMAT}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="DEVELOPMENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.directory}/ampq-services-log-for-development-%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FORMAT}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>


    <logger name="org.apache" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>

    <logger name="org.springframework.amqp" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OPERATIONS"/>
        <appender-ref ref="SUPPORT"/>
        <appender-ref ref="QA"/>
        <appender-ref ref="DEVELOPMENT"/>
    </root>
</configuration>
